.button {
  all: unset;
  cursor: pointer;
  appearance: none;
  display: inline-flex;
  align-items: center;
  gap: 6px;

  position: absolute;
  top: calc(var(--space) * 0.7);
  left: calc(var(--space) * 0.7);

  z-index: 999;
  transition: top var(--duration) ease, left var(--duration) ease;
}

.button:disabled {
  cursor: default;
}

.circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: black;
  flex: 0 0 auto;
}

.label {
  line-height: 1;
  user-select: none;
  opacity: 0;
  transition: opacity 200ms ease;
  pointer-events: none;
}

.labelVisible {
  opacity: 1;
  pointer-events: auto;
}

.button:not(:disabled):hover .labelVisible {
  text-decoration: underline;
}

.aboutopen {
  top: calc(var(--max-main-box-up-margin) + 2px);
  left: var(--bleed);
}
