.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input {
  opacity: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}

.active {
  text-decoration: none;
}

.wrapper:hover .active {
  text-decoration: underline;
}
