.imgwrapper {
  width: 100%;
  /* height: var(--max-main-box-height); */
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hitArea {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  z-index: 2;
}

.hitLeft {
  left: 0;
}

.hitRight {
  right: 0;
}

.count {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.sliderImg {
  --image-edge-fade: 24px;

  max-width: 100%;
  max-height: var(--max-main-box-height);
  width: auto;
  height: auto;
  display: block;
  transition: opacity 300ms ease;
  position: relative;
  z-index: 1;
}

.sliderImgVisible {
  opacity: 1;
}

.sliderImgHidden {
  opacity: 0;
}

@media screen and (max-width: 1000px) {
  .content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    gap: var(--double-space);
  }
}
