.main {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
}

.wrapper {
  width: var(--max-main-box-width);
  margin-inline: auto;
  height: 100vh;
  padding-top: var(--max-main-box-up-margin);
  padding-bottom: var(--max-main-box-up-margin);
  overflow: auto;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--double-space);
}

.column {
  display: flex;
  flex-direction: column;
  gap: var(--space);
  position: relative;
}

@media screen and (max-width: 800px) {
  .wrapper {
    grid-template-columns: 1fr;
    gap: var(--space-5);
  }
}
