.main {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
}

.wrapper {
  width: var(--max-main-box-width);
  margin-inline: auto;
  height: 100vh;
  padding-top: var(--max-main-box-up-margin);
  padding-bottom: var(--max-main-box-up-margin);
  overflow: auto;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--double-space);
}

.column {
  display: flex;
  flex-direction: column;
}

.columnGapSm {
  gap: calc(var(--space) / 4);
}

.p {
  opacity: var(--text-opacity);
  margin-top: calc(var(--space) / 1.6);
}

.columnBetween {
  justify-content: space-between;
}

.columnRelative {
  position: relative;
}

.prise {
  display: flex;
  justify-content: end;
  position: absolute;
  bottom: 0;
  right: 0;
}

.checkboxRow {
  display: flex;
  gap: calc(var(--space) / 2);
  align-items: flex-start;
}

.checkboxRowMtLg {
  margin-top: calc(var(--space) / 1.6);
}

.checkboxRowMtSm {
  margin-top: calc(var(--space) / 4);
}

.checkboxRowMtMd {
  margin-top: calc(var(--space) / 1);
}

.checkboxRowMt0 {
  margin-top: 0;
}

.checkboxLabel {
  flex: 1 1 auto;
  min-width: 0;
}

.checkbox {
  margin-top: 4px;
}

.adress {
  margin-top: calc(var(--space) / 2);
  margin-bottom: calc(var(--space) / 2);
}

.dotted {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
  text-underline-offset: 1px;
  cursor: pointer;
}

.deliv {
  margin-top: calc(var(--space) / 2);
  margin-bottom: calc(var(--space) / 2);
}

.columnFullHeight {
  height: 100%;
}

.order {
  align-self: flex-end;
  cursor: pointer;
}

.order:hover {
  text-decoration: underline;
}

.prisediv {
  display: flex;
  justify-content: space-between;
}
.prisediv1 {
  margin-top: calc(var(--space) / 1);
}
