.wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: calc(var(--bleed) * -1);

  top: 0;

  background: rgba(255, 255, 255, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;

  backdrop-filter: blur(var(--blur-bg));
  z-index: 100;
}

.hidden {
  display: none;
}

.imgwrapper {
  display: flex;
  gap: var(--space);
  flex-wrap: wrap;
}

.main {
  width: var(--max-main-box-width);
  padding-top: var(--max-main-box-up-margin);
  padding-bottom: var(--max-main-box-up-margin);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navigation {
  display: flex;
  gap: var(--space);
}

.image {
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.imgsrc {
  height: 18vw;
}

.input {
  width: 15vw;
  height: 18vw;
}
