/* LayerShell.module.css */
.layer {
  position: absolute;
  inset: 0;
  transition: opacity var(--duration) ease;
  will-change: filter, opasity;
}

.content {
  width: 100%;
  height: 100%;
  transition: filter var(--duration) ease;
  filter: blur(0px);
  will-change: filter, opasity;
}

.open {
  opacity: 1;
  pointer-events: auto;
}

.closed {
  opacity: 0;
  pointer-events: none;
}

.blurred {
  filter: blur(var(--blur-bg));
  will-change: filter, opasity;
}
