.contact {
  height: var(--max-main-box-height);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.left {
  width: calc(50% - calc(var(--space-3) / 2));
}

.leftTop {
  border-bottom: 0;
}

@media screen and (max-width: 1000px) {
  .left {
    width: 100%;
  }

  .contact {
    width: 100%;
  }

  .leftadd {
    --info-block-right-height: 30dvh;
    margin-top: var(--space-3);
    height: 30dvh;
  }

  .leftTop {
    border-bottom: 1.5px solid black;
    padding-bottom: var(--space);
  }
}
