:root {
  /* MEASURES */

  --max-width: min(95vw, 2560px);
  --max-main-box-width: min(90vw, 1250px);
  --max-main-box-height: 75vh;
  --max-main-box-up-margin: 11.5vh;
  --max-main-box-bottom-margin: 9vh;

  --bleed: calc(calc(100vw - var(--max-main-box-width))/2);

  --space: clamp(10px, 1.3vw, 20px);
  --double-space: calc(var(--space) * 2);
  --space-3: calc(var(--space) * 3);
  --space-4: calc(var(--space) * 4);
  --space-5: calc(var(--space) * 5);

  --padding: calc(var(--space) * 2);

  --inner-buttons-padding: calc(var(--space) * 0.7);

  /* TYPO */

  --text-color-black: #000000;
  --text-color-black-opacity: rgba(0, 0, 0, 0.6);

  --text-1-text-size: clamp(16px, calc(12.118px + 0.5vw), 18px);

  --text-2-text-size: clamp(24px, calc(12.118px + 0.6vw), 30px);

  --p-gap: clamp(12px, 2vw, 24px);
  --text-line-height: 1.3;

  /* MORE */
  --blur-bg: 15px;

  --text-opacity: 0.4;
  --checkbox-size: 16px;

  /* MOTION */ /* --duration: 1s; */
  --duration: 0.8s;
  --cursor-duration: 0.1s;

  /* SELECTION */
  --selection-color: rgb(255, 255, 255);
  --selection-bg: rgba(145, 145, 145, 0.2);

  --card-width: 17vw;
  --card-width-one: 32vw;
  --card-width-two: 25vw;

  --info-buttons-width: 30vw;
  --checkout-card-item-img-size: clamp(72px, 7vw, 220px);
  /* --checkout-card-item-img-size: 10vw; */

  --checkout-card-item-img-size: clamp(88px, 8.5vw, 150px);
  --card-items-scroll-fade: 20px;
}

@media screen and (min-width: 1500px) {
  :root {
    --max-main-box-width: min(90vw, 1350px);
    --card-width: 17vw;
    --max-main-box-up-margin: 10vh;
  }
}

@media screen and (max-width: 1400px) {
  :root {
    --text-1-text-size: clamp(16px, calc(12.118px + 0.5vw), 17px);
    --max-main-box-width: min(90vw, 1150px);
    --card-width: 17vw;

    --max-main-box-bottom-margin: 7vh;
    --max-main-box-up-margin: 10vh;
  }
}

@media screen and (max-width: 1300px) {
  :root {
    --text-1-text-size: clamp(16px, calc(12.118px + 0.5vw), 17px);
    --max-main-box-width: min(90vw, 1150px);
    --card-width: 18.5vw;
  }
}

@media screen and (max-width: 1200px) {
  :root {
    --text-1-text-size: 16px;
    --max-main-box-width: min(90vw, 1150px);

    --card-width: 25vw;

    --card-width-one: 32vw;
    --card-width-two: 25vw;
  }
}

@media screen and (max-width: 1000px) {
  :root {
    --card-width: 50vw;

    --card-width-one: 75vw;
    --card-width-two: 55vw;
  }
}
