:root {
  /* MEASURES */

  --max-width: min(95vw, 2560px);
  --max-main-box-width: min(90vw, 1200px);
  --max-main-box-height: 76vh;
  --max-main-box-up-margin: 12vh;

  --space: clamp(10px, 1.3vw, 20px);
  --double-space: calc(var(--space) * 2);

  --padding: calc(var(--space) * 2);

  /* TYPO */

  --text-color-black: #000000;
  --text-color-black-opacity: rgba(0, 0, 0, 0.6);

  --text-1-text-size: clamp(16px, calc(12.118px + 0.5vw), 18px);
  /* --text-1-text-size: clamp(16px, calc(12.818px + 0.55vw), 20px); */

  --p-gap: clamp(12px, 2vw, 24px);
  --text-line-height: 1.3;

  /* MORE */
  --blur-bg: 10px;

  --card-width: 25vw;
  --blur-bg: 15px;
}
