html {
  font-size: var(--text-1-text-size);
  scroll-behavior: smooth;
}

body {
  color: var(--text-color-black);
  font-family: "IBM PLex";
  overflow-wrap: break-word;
  line-height: var(--text-line-height);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

::selection {
  background: var(--selection-bg);
  color: var(--selection-color);
}

::-moz-selection {
  background: var(--selection-bg);
  color: var(--selection-color);
}

input::selection,
textarea::selection {
  background: var(--selection-bg);
  color: var(--selection-color);
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

p + p {
  margin-top: var(--p-gap);
}

li {
  display: block;
  display: flex;
  gap: 8px;
}

li::before {
  content: "—";
}
