html {
  font-size: var(--text-1-text-size);
  scroll-behavior: smooth;
}

body {
  color: var(--text-color-black);
  font-family: "IBM PLex";
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-wrap: break-word;
}
