.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: calc(var(--space) / 2);
  /* background: blue; */
  width: 100%;
  height: var(--checkout-card-item-img-size, auto);
}

.img {
  width: var(--checkout-card-item-img-size, 30%);
  height: var(--checkout-card-item-img-size, auto);
  flex: 0 0 var(--checkout-card-item-img-size, 30%);
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex: 1 1 auto;
  min-width: 0;
  margin-top: calc(var(--space) / -2);
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: calc(var(--space) / 2);
  min-width: 0;
}

.innerleft {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.innerleft span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.prise {
  text-align: left;
}
