.wrapper {
  width: var(--card-width);
  position: relative;
}

.img {
  width: 100%;
  height: 100%;
  transform: scale(100%);
  transition: all 500ms;
}

.wrapper:hover .img {
  transform: scale(102%);
}

.id {
  position: absolute;
  top: 0;
  left: 0;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--card-width);
}
