.main {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.wrapper {
  width: var(--max-main-box-width);
  margin-inline: auto;
  position: relative;
}

.wrapper2 {
  height: 100vh;
  padding-top: var(--max-main-box-up-margin);
  padding-bottom: var(--max-main-box-bottom-margin);

  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  gap: var(--space-5);
  row-gap: calc(var(--space-3));
  /* row-gap: var(--space); */
  align-items: center;

  scroll-behavior: smooth;
  overflow: scroll;
}

.oneobj {
  --card-width: var(--card-width-one);
  cursor: pointer;
}

.twoobj {
  --card-width: var(--card-width-two);
  cursor: pointer;
}
