.main {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: rgba(255, 255, 255, 0.01);
}

.wrapper {
  height: var(--max-main-box-height);
  width: var(--max-main-box-width);
  margin-top: var(--max-main-box-up-margin);
  margin-inline: auto;
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--double-space);
  align-items: center;
}
