.tableScroll {
  width: 100%;
  min-height: 0;
  flex: 1;
  overflow: auto;
}

.table {
  width: 100%;
  min-width: 1500px;
  border-collapse: collapse;
  /* border-collapse: separate; */
  border-spacing: 0;
  border-spacing: 0;
  font-size: var(--table-text-size);
}

.table th,
.table td {
  text-align: left;
  vertical-align: top;
  padding: calc(var(--space) / 2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.22);
}

.table th {
  position: sticky;
  top: 0;
  z-index: 1;
  background: rgba(255, 255, 255, 0.8);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0.6) 100%
  );
  backdrop-filter: blur(var(--blur-bg));
  -webkit-backdrop-filter: blur(var(--blur-bg));
  font-weight: 400;
}

.table th button {
  all: unset;
  cursor: pointer;
}

.table th button:hover {
  text-decoration: underline;
}

.table td {
  max-width: 210px;
}

.table .unlimitedCell {
  width: max-content;
  max-width: none;
  white-space: nowrap;
}

.table td span {
  display: block;
}

.table td span + span,
.table td span + .copyValue,
.table td .copyValue + span {
  margin-top: calc(var(--space) * 0.5);
}

.copyValue {
  all: unset;
  display: block;
  cursor: pointer;
}

.copyValue:hover {
  text-decoration: underline;
}

.muted {
  opacity: 0.6;
}
