.imgwrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.hitArea {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  z-index: 2;
}

.hitLeft {
  left: 0;
}

.hitRight {
  right: 0;
}

.count {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.sliderImg {
  width: 100%;
  height: var(--max-main-box-height);
  object-fit: contain;
  display: block;
  transition: opacity 300ms ease;
  position: relative;
  z-index: 1;
}

.sliderImgVisible {
  opacity: 1;
}

.sliderImgHidden {
  opacity: 0;
}
